.todoList {
  list-style: none;
  padding-left: 0;
  width: 250px;

  & li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;

    &.todo-done {
      color: #757575;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &-configure-cont {
    display: flex;
    margin-left: auto;
    gap: 14px;
  }

  &-edit-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    width: 165px;
  }
}

.fa-square-check {
  cursor: pointer;
}

.complete-icon {
  color: #4caf50;
}

.configure-icon {
  &:hover {
    color: #00a8f0;
    cursor: pointer;
  }
}
